<h1>HOME!</h1>

<% if(user) { %>
  <h2>Hola usuario <%= user.username %></h2>
  <form action="/logout" method="POST">
    <button>Logout</button>
  </form>
<% }else{ %>
  <br><br>
  <form action="/auth/facebook">
    <input type="submit" value="Facebook Login" />
  </form>
<% } %>
<br>
<a href="/logout">LOGOUT</a>

<a href="/my-trips/new">NEW TRIP</a>
