
<!DOCTYPE html>
<html>
  <head>
    <title>IRONHACK TRIPS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Welcome to IronHack Trips!</h2>
    <%- body %>
  </body>
</html>
